@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

a {
  color: #F0B90B;
}

button {
  background-color: #F0B90B;
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
